.sidebar-container {
  width: 220px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-right: 1px solid #f3f4f6;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-container h3 {
  color: #191f4e;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 40px;
  padding-left: 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #64748b;
  font-weight: 500;
  padding: 12px 15px;
  margin-bottom: 8px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.sidebar-link:hover {
  background-color: #f1f5f9;
  color: #191f4e;
  transform: translateX(5px);
}

.sidebar-link svg {
  font-size: 20px;
}

.logout-button {
  background-color: #8b2121;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 3px;
  display: flex;
  align-items: center;
  border-radius: 14px;
  width: 80px;
  margin-top: 220px;
}

.logout-button:hover {
  background-color: #8b212168;
  color: #8b2121;
}
